<!DOCTYPE html>
<meta charset="utf-8">
<head>

</head>

<body>

<div class="params">

    <label>{{'label.anim-sel'|translate}}</label>
    <div class="select">
        <select title="animation" id="anim" [(ngModel)]="anim" (ngModelChange)="update($event)">
            <option [ngValue]="null">{{'option.anim-none'|translate}}</option>
            <option *ngFor="let a of ast_ref.fkr?.animations" [ngValue]="ast_ref.fkr?.animations?.indexOf(a)">{{'option.anim-present'|translate}} {{ast_ref.fkr?.animations?.indexOf(a)}}</option>

        </select>        
    </div>


    <label>{{'label.audio-prev' |translate}}:</label>
    <div class="audio">
        <app-audio-player #wl_output [standard_format]="false"></app-audio-player>
    </div>

  

</div>



</body>