<!DOCTYPE html>
<meta charset="uft-8">
<head>

</head>

<body>

   <div class="wl_input">
    <app-audio-player #player></app-audio-player>
   </div>

   <form [formGroup]="form">

      <div class="params">

         
         <div class="threshold_holder">
            <label>Differential Threshold Bits:</label>
            <div class="threshold">
               <div class="threshold_s">
                  <app-slider id="t_slider" [vertical]="true" [min]="4" [max]="12" [default]="10" [step]="2" formControlName="t_slider"></app-slider>           
               </div>
               <div class="threshold_n">
                  <app-numeric id="t_numeric" [min]="4" [max]="12" [default]="10" [step]="2" formControlName="t_numeric"></app-numeric>
               </div>
            </div>
         
       
         </div>

         <div class="loop_single">
            <label for="loop">Loop: </label>
            <input type="checkbox" id="loop" #loop formControlName="loop">
         </div>


      </div>

   </form>

   <div class="post">
      <button type="button" (click)="this.post_audio($event)">Post</button>
  </div>
      

</body>