.rpf{
    visibility: collapse;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
.rpf canvas{
    height: 40%;
    background-color: black;  
}
.form{
    height: 60%;
}
.params{
    height: 25%;    
    display: flex;
    flex-direction: column;    
}
.params label{

    color: rgb(222, 222, 222);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vh;
}    
.params select{
    
    width: 80%;
    font-size: 2vh;
    margin-left: 10%;
    margin-right: 10%;
}
.params input{
    
    width: 80%;
    font-size: 2vh;
    background-color: rgb(75, 75, 75);
    color: rgb(222, 222, 222);
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rgb_holder{

    display: flex;
    height: 25%;
    flex-direction: column;
 


}

.rgb{
    height: 20%;
    display: flex;
       
}
.rgb label{

    color: rgb(222, 222, 222);
    width: 60%;

    margin-left: 10%;
    margin-right: auto;

}
.rgb input{

    width: 2vh;
    margin-right: 10%;
}

.rgb_out{
   
    height: 80%;
    display: flex;
    visibility: collapse;
    box-sizing: content-box;
 
}

.backdrop{

    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}


.backdrop input[type="range"]{

    height: 31%;   
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.numeric{

    width: 33.3%;
    display: flex;
    flex-direction: column;
   
}
.numeric input[type="number"]{
    
    height: 31%;   
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2vh;

    
  
}

.colour{
    height: 100%;
    width: 33.3%;
}


.p_bfr{

    height: 15%;
    visibility: collapse;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;

}

.p_bfr label{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; 
}
.p_bfr input{  
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


.post{
    height: 15%;
    display: flex;
    flex-direction: column;
}
.post button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;  
}
.backdrop label,.numeric label{
    visibility: collapse;
}
