<!DOCTYPE html>
<html lang="en">
<head>

<title>
    Darkforge
</title>

</head>
<body>
    
    <div class="top_menu">
        <button><b>Export</b></button>
        <a>Manage files</a>
        <a>Serialization order</a>
        <a>Project settings</a>
        <a>Create report</a>
    </div>
    <div class="main_segment">

        <div class="canvas_holder">

            <app-renderer></app-renderer>

        </div>
        

    
        <div class="side_menu">
        </div>

    </div>
   
    <div class="timeline">

    </div>
    
    <div class="footer">
        <a>About</a>
        <a>Terms of service</a>
        <a>Getting started</a>
        <a>Preferences</a>
    </div>

   

</body>
</html>