<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Darkforge
    </title>

</head>
<body>
    
    <input type="file" id="file_upload" #file_input (change)="file_logic($event)">
    <label for="file_upload">file_input</label>

    <div class="top_menu">
        <button><b>Export</b></button>
        <a (click)="upload_click()">Manage files</a>        
        <a>Serialization order</a>
        <a>Project settings</a>
        <a>Create report</a>
    </div>

    

    <div class="main_segment">

        <div class="canvas_holder">

            <app-renderer></app-renderer>

        </div>
        

    
        <div class="side_menu">
            <app-file-transfer></app-file-transfer>
        </div>

    </div>
   
    <div class="timeline">

    </div>
    
    <div class="footer">
        <a>About</a>
        <a>Terms of service</a>
        <a>Getting started</a>
        <a>Preferences</a>
    </div>

   

</body>
</html>