<!DOCTYPE html>
<meta charset="utf-8">
<head>

</head>

<body>
    

    <canvas #bmp_preview id="bmp_preview" width="256" height="256" ></canvas>

    <form [formGroup]="form">

        <div class="params">

            <label>CLUT size:</label>
            
            <app-numeric id="CLUT" [max]="256" [min]="2" [default]="16" formControlName="clut"></app-numeric>

            <label for="Mode">Compression method:</label>
            <select id="Mode" formControlName="mode">
                <option value='0'>Popularity method</option>
                <option value='1'>Proximity method</option>
            </select>

        </div>             
        

        <div class="rgb_holder">

            <div class="rgb">             

                    
                <label for="use_alpha">Use alpha:</label>
                <input id="use_alpha" type="checkbox" formControlName="use_alpha">

                
                    
            </div>           





            <div class="rgb_out" id="RGB_OUT" [ngClass]="{'hidden':form.get('use_alpha')?.value===false}">


                <div class="backdrop">                    
                    
                    <div class="rgb_s">
                        <app-slider id="r" #r_s [max]="255" formControlName="r_slider"></app-slider> 
                    </div>
                    <div class="rgb_s">
                        <app-slider id="g" #g_s [max]="255" formControlName="g_slider"></app-slider> 
                    </div>
                    <div  class="rgb_s">
                        <app-slider id="b" #b_s [max]="255" formControlName="b_slider"></app-slider> 
                    </div>
                    

                </div>


                <div class="numeric">                

                    <div class="rgb_n">
                        <app-numeric id="r_out" [max]="255" [min]="0" formControlName="r_numeric"></app-numeric>
                    </div>
                    <div class="rgb_n">
                        <app-numeric id="g_out" [max]="255" [min]="0" formControlName="g_numeric"></app-numeric>
                    </div>
                    <div class="rgb_n">
                        <app-numeric id="b_out" [max]="255" [min]="0" formControlName="b_numeric"></app-numeric>
                    </div>



                </div>


                <div  class="colour">
                  
                    <svg width="100%" height="100%" viewBox="0 0 200 200">
                        <polygon id ="colour" points="50,150 100,50 150,150 100,100" [attr.fill]="this.getRGBColor()"/>
                    </svg>


                </div>

            </div>

        </div>


        <div class="buffer_holder" id="BUFFER_HOLDER" [ngClass]="{'hidden':form.get('mode')?.value==='0'}">

            <label>Protected Buffer size:</label>
            <app-numeric id="BFR" [step]="2" [max]="2" [min]="0" formControlName="bfr"></app-numeric>

        </div>



    </form>
       


    <div class="post">
        <button type="button" (click)="this.post_image($event)">Post</button>
    </div>
        
    

  

</body>