body{
    display: flex;
    flex-direction: column;
}
canvas{
    height: 40%;
}
form{
    height: 45%;
    display: flex;
    flex-direction: column;  
}
.params{
    height: 33%;    
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;    
}  
.params select{
    
    width: 100%;
    font-size: 2vh;
}

.rgb_holder{

    display: flex;
    height: 33%;
    flex-direction: column;
 


}

.rgb{
    height: 20%;
    display: flex;
       
}
.rgb label{

    width: 60%;

    margin-left: 10%;
    margin-right: auto;

}
.rgb input[type="checkbox"]{
    width: 2vh;
    height: 2vh;
    margin-right: 10%;
}

.rgb_out{   
    
    height: 80%;
    display: flex;
    box-sizing: content-box;
 
}

.backdrop{

    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}


.rgb_s{
    height: 31.3%;   
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.numeric{
    width: 33.3%;
    display: flex;
    flex-direction: column;
   
}
.rgb_n{
    height: 31%;   
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.colour{
    width: 33.3%;
}
.buffer_holder{

    
    height: 24%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;

}

.buffer_holder input{  
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.btn{
    height: 15%;
    display: flex;
    flex-direction: column;
}
.btn button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;  
}
.backdrop label,.numeric label{
    visibility: hidden;
}



