<!DOCTYPE html>
<meta charset="uft-8">
<head>

</head>

<body>
    

    <canvas id="bmp_preview" width="256" height="256" ></canvas>


    <form [formGroup]="form">

        <div class="params">

            <label for="CLUT">CLUT size:</label>
            <input id="CLUT" type="number" formControlName="clut">


            <label for="Mode">Compression method:</label>
            <select id="Mode" formControlName="mode">
                <option value='0'>Popularity method</option>
                <option value='1'>Proximity method</option>
            </select>

        </div>             
        

        <div class="rgb_holder">

            <div class="rgb">             

                    
                <label for="use_alpha">Use alpha:</label>
                <input id="use_alpha" type="checkbox" formControlName="use_alpha">

                
                    
            </div>           





            <div class="rgb_out" id="RGB_OUT" [ngClass]="{'hidden':form.get('use_alpha')?.value===false}">


                <div class="backdrop">                    
                    
                    <div class="rgb_s">
                        <app-slider id="r" #r [max]="255" formControlName="r_slider"></app-slider> 
                    </div>
                    <div class="rgb_s">
                        <app-slider id="g" #g [max]="255" formControlName="g_slider"></app-slider> 
                    </div>
                    <div  class="rgb_s">
                        <app-slider id="b" #b [max]="255" formControlName="b_slider"></app-slider> 
                    </div>
                    

                </div>


                <div class="numeric">                

                    <input id="r_out" type="number" formControlName="r_numeric">
                    <input id="g_out" type="number" formControlName="g_numeric">
                    <input id="b_out" type="number" formControlName="b_numeric">


                </div>


                <div  class="colour">
                  
                    <svg width="100%" height="100%" viewBox="0 0 200 200">
                        <polygon id ="colour" points="50,150 100,50 150,150 100,100" [attr.fill]="this.getRGBColor()"/>
                    </svg>


                </div>

            </div>

        </div>


        <div class="buffer_holder" id="BUFFER_HOLDER" [ngClass]="{'hidden':form.get('mode')?.value==='0'}">

            <label for="BFR">Protected Buffer size:</label>
            <input id="BFR" type="number" formControlName="bfr">
        

        </div>


        <div class="post">
            <button (click)="this.post_image($event)">Post</button>
        </div>
            

    </form>
       


    

  

</body>